/* 
  <div class="wrap">
    <div class="item" style="background-color: red;"></div>
    <div class="item" style="background-color: green;"></div>
    <div class="item" style="background-color: yellow;"></div>
    <div class="item" style="background-color: pink;"></div>
    <div class="item" style="background-color: green;"></div>
  </div>
*/

/* 规律:  左为负时，是左移，右为负时，是左拉。上下与左右类似 */

*{
  margin:0;
  padding:0;
}
.wrap{
  /* 利用负值技巧进行整体移动, 这个时候（没有设置width，width == 100% + 6px */
  margin-left:-6px; 
}
.item{
  float:left;
  width: 20%;
  /* width: 50%; */
  height: 300px;
  border-left:6px solid #fff;
  box-sizing: border-box;
}